@import url(http://fonts.googleapis.com/css?family=Antic|Abril+Fatface|Aclonica);

h1 { font-family: "Antic", Verdana; }
h2 { font-family: "Abril Fatface", Tahoma; }
h3 { font-family: "Aclonica", sans-serif; }